


@font-face{
	font-family: potta ;
	src: url('PottaOne-Regular.ttf');
}

@font-face{
	font-family: yusei;
	src: url('YuseiMagic-Regular.ttf');
}

*
{
	font-family:yusei,verdana,Arial;


}

body
{
	margin: auto;
	padding: 0;
	max-width: 800px;
	background-color:#19d3da;
	color: white;
	box-sizing: border-box;
	font-size: 62.5%;
}

.header{
	background-image: url("led_strip.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.header h1{
	font-family: potta;
	text-align: center;
	color: #eeeeee;
	font-size: 2rem;
	margin: 0;
}

.main{
	display: flex;
	flex-direction: column;

	align-items: center;
	margin: 1rem 1rem;
}

.item{
	box-sizing: border-box;
	background-color: #eeeeee;
	color: #373a40;
	border: 2px solid #686d76;
	box-shadow: -0.5rem 0.5rem 0.8rem #686868;
	border-radius: 2.5rem;
	font-size: 0.8rem;
	width: 100%;
	padding: 1rem;
	margin: 1rem 0;
	text-align: center;
	transform-origin: top;
	transform: scaleY(0);
	animation: anim-menu 2.5s forwards;
}

@keyframes anim-menu{
	from{transform: scaleY(0);}
	to{transform: scaleY(1);}
}

h2{
	text-decoration: underline;
	margin-bottom: 1rem;
	margin-top: 0.5rem;
}

input{
	width: 50%;
}

form{
	width: 80%;
}